<!-- 
<div>
{{countryItemDetail.altSpellings}}
{{countryItemDetail.borders}}
{{countryItemDetail.region}}
{{countryItemDetail.capital}}
{{countryItemDetail.subregion}} 
{{countryItemDetail.languages}}
{{countryItemDetail.gini}}
</div> -->

<div class="item" *ngIf="countryItemDetail">
    <div class="item-left">
        <div class="item-img">
            <a href="{{countryItemDetail.maps.googleMaps}}">
                <img width="300" [src]="countryItemDetail.flags.png" alt="">
            </a>    
        </div>
        <div class="item-title">
            {{countryItemDetail.name.common}}
            <small>{{countryItemDetail.region}}</small>
        </div>
        <div class="item-left-bottom">
            <div>Population 
                <p>{{countryItemDetail.population}}</p>
             </div>
             <div>Area 
                <p>{{countryItemDetail.area}} km<sup>2</sup></p>
             </div>
        </div>
    </div>
    <div class="item-right">
        <ul>
            <li>Native Names <span>{{countryItemDetail.altSpellings}}</span>                    
            </li>
            <li>Capital <span>{{countryItemDetail.capital}}</span></li>
            <li>Subregion <span>{{countryItemDetail.subregion}}</span></li>
            <!-- <li>Capital <span>{{countryItemDetail.capital}}</span></li> -->
            <li>Languages {{countryItemDetail.languages}}</li>
            <li class="border-list">Bordering countries <br>
                <div class="border-wrapper">
                    <ng-container *ngFor="let borderItem of borderCountryWrapper">
                        <a [routerLink]="['/country', borderItem['cca3']]" routerLinkActive="router-link-active"  class="border-item">
                            <img [src]="borderItem.flags.png" alt="borderItem.name.common">
                            <p>{{borderItem.name.common}}</p>
                        </a>
                    </ng-container>
                </div> 
            </li>
        </ul>
    </div>
</div>