<div class="item" *ngIf="countryItemDetail">
    <div class="item-left">
        <div class="item-img">
            <a target="_blank" href="{{countryItemDetail.maps.googleMaps}}">
                <img width="300" [src]="countryItemDetail.flags.png" alt="">
            </a>    
        </div>
        <div class="item-title">
            {{countryItemDetail.name.common}}
            <small>{{countryItemDetail.region}}</small>
        </div>
        <div class="item-left-bottom">
            <div>Population 
                <p>{{countryItemDetail.population}}</p>
             </div>
             <div>Area 
                <p>{{countryItemDetail.area}} km<sup>2</sup></p>
             </div>
        </div>
    </div>
    <div class="item-right">
        <ul>
            <li *ngIf="countryItemDetail.altSpellings">Native Names <span>{{countryItemDetail.altSpellings  }}</span>                    
            </li>
            <li *ngIf="countryItemDetail.capital">Capital <span>{{countryItemDetail.capital}}</span></li>
            <li *ngIf="countryItemDetail.subregion">Subregion <span>{{countryItemDetail.subregion}}</span></li>
            <li *ngIf="countryItemDetail.postalCode">Postal Code <span>{{countryItemDetail.postalCode.format}}</span></li>
            <li *ngIf="countryItemDetail.currencies">Currencies
                <span> <span *ngFor="let currency of countryItemDetail.currencies | keyvalue">{{ currency.key }}</span></span>
              </li>
            <li *ngIf="countryItemDetail.languages">Language
                <span> <span *ngFor="let language of countryItemDetail.languages | keyvalue">{{ language.value }}, </span></span>
              </li>
            <li *ngIf="countryItemDetail.borders" class="border-list">Bordering countries <br>
                <div class="border-wrapper">
                    <ng-container *ngFor="let borderItem of borderCountryWrapper">
                        <a [routerLink]="['/country', borderItem['cca3']]" routerLinkActive="router-link-active"  class="border-item">
                            <img [src]="borderItem.flags.png" alt="borderItem.name.common">
                            <p>{{borderItem.name.common}}</p>
                        </a>
                    </ng-container>
                </div> 
            </li>
        </ul>
    </div>
</div>